/** ** ** ** ** ** ** ** ** **
 ** ** ** ** ** ** ** **
 ** ** ** ** ** **
 ** ** ** **
 ** **
 *	Slider styling
*/






/** ** ** ** ** ** ** ** ** **
 *	Basic reset
*/
html { background: #ddd; }
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}






/** ** ** ** ** ** ** ** ** **
 *	Slider
 *
 *	Mark-up:
 *	necessary layout
 *		extra visual styling
*/
.slider {
}



/**
 *	Slider content slides
*/
.slider-content {
	position: relative;
	width: 530px;
	height: 310px;
	overflow: hidden;
		background: #ccc;
		border: 2px solid #888;
}
.slides {
	position: absolute;
		width: 100%;
		top: 0;
		left: 530px;
		background: #fee;
}
.slide {
	float: left;
		width: 530px;
		height: 310px;
}
.slide > a {
		display: block;
		width: 100%;
		height: 100%;
}



/**
 *	Slider navigation items
*/
.slider-nav {
}
.slider-nav > ul {
}
.slider-nav > ul > li {
		float: left;
		margin-top: 20px;
		margin-left: 20px;
}

.slider-nav-items {
}
.slider-nav-item {
}
.slider-nav-item.active {
		color: #fff;
		background-color: #00f;
}

.slider-nav-functions {
		clear: left;
}

.slider-playpause {
}
.slider-playpause.play {
		color: #fff;
		background-color: #00f;
}
.slider-playpause.pause {
}

.slider-prev {
}
.slider-next {
}
