# OS files
.DS_Store
._*
Icon
.Spotlight-V100
*~
Thumbs.db

# Editor files
.tmproj
*.esproj
.sass-cache
*.sublime-project
*.sublime-workspace

# VCS
.CVS
.hg
.hgignore
.svn

# Packed files
*.7z
*.dmg
*.gem
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
